.about_banner {
    display: flex;
    margin: 22px 12px 25px 20px;
    @media screen and (min-width: 800px) {
      max-width: 92.4%;
      margin-left: 4.6%;
    }
    @media screen and (min-width: 800px) and (max-width: 1450px){
      padding-bottom: 8%;
    }

    img {
      border-radius: 15px;
      width: 98%;
      height: 229px;
      object-fit: cover;
    }
}
