.about_banner {
    display: flex;
    margin: 22px 12px 25px 20px;
    @media screen and (min-width: 550px) {
      max-width: 92.4%;
      margin-left: 4.6%;
    }

    img {
      border-radius: 15px;
      width: 98%;
      height: 229px;
      object-fit: cover;
    }
}
