* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body{
  max-width: 1440px;
  margin: 0;
  padding: 10px 0 0 0;
}

.home{
  margin: 0;
}

li{
  display: flex;
  list-style: none;
}

a{
  color: #ff6060;
  text-decoration: none;
}
