* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body{
  max-width: 1920px;
  margin: 0;
  padding: 10px 0 0 0;

  @media screen and (min-width: 800px){
    width: 100%;
    margin: auto;
  }
}

.home{
  margin: 0;
}

li{
  display: flex;
  list-style: none;
}

a{
  color: #ff6060;
  text-decoration: none;
}
