.carrousel {
  position: relative;
  margin-bottom: -5px;

  &_pictures {
    display: flex;
    height: 255px;
    margin: 0 auto;
    padding: 15px;

    img {
      width: 345px;
      border-radius: 25px;
      object-fit: cover;

      @media screen and (min-width: 800px) {
        width: 1380px;
        height: 415px;
        margin-left: 3.6%;
      }
      @media screen and (min-width: 800px) and (max-width: 1450px) {
        max-width: 730px;
      }
    }
  }
  &_leftarrow {
    width: 5%;
    position: absolute;
    left: 6%;
    top: 45.5%;
    @media screen and (min-width: 800px) {
      width: 3%;
      top: 60%;
    }
    @media screen and (min-width: 800px) and (max-width: 1450px) {
      top: 66%;
    }
  }

  &_rightarrow {
    width: 5%;
    position: absolute;
    right: 6%;
    top: 45.5%;
    @media screen and (min-width: 800px) {
      width: 3%;
      top: 60%;
    }
    @media screen and (min-width: 800px) and (max-width: 1450px) {
      top: 66%;
    }
  }
}
