.carrousel {
  position: relative;

  &_pictures {
    display: flex;
    height: 300px;
    margin: 0 auto;
    padding: 15px;

    img {
      width: 345px;
      border-radius: 25px;
      object-fit: cover;

      @media screen and (min-width: 800px){
        width: 1300px;
        height: 415px;
        margin-left: 6.5%;
      }
    }
  }
  &_leftarrow {
    width: 5%;
    position: absolute;
    left: 6%;
    top: 45.5%;
  }

  &_rightarrow {
    width: 5%;
    position: absolute;
    right: 6%;
    top: 45.5%;
  }
}
