.collapse{
    margin: auto;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 8%;
}

.collapse_title{
    background-color: #FF6060;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    size: 13px;
    height: 19.04px;
    line-height: 18.54px;
}

.collapse_content{
    color: #FF6060;
    padding-bottom: 55px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    font-weight: 400;
    size: 12px;
    line-height: 17.11px;
}