.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  background-color: black;
  margin: 28px auto 0 auto;

  @media screen and (min-width: 800px) {
    margin-top: 10%;
  }
  @media screen and (min-width: 800px) and (max-width: 1000px) {
    margin-top: 24.5%;
    padding-top: 5%;
  }

  img {
    filter: brightness(100);
    width: 122px;
    height: 39.44px;
    margin-left: 4.4%;
    margin-top: 5%;
    @media screen and (min-width: 800px) {
      margin-left: 3%;
    }
  }

  p {
    margin-left: 7%;
    color: #fff;
    @media screen and (min-width: 800px) {
      margin-left: 3%;
    }
  }
}
