.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  max-width: 95%;
  @media screen and (min-width: 550px){
    margin-top: 1.5%;
    margin-left: 3.5%;
    max-width: 91%;
  }
  img {
    height: 40px;
    margin-left: 16.5%;
    margin-top: 6%;
  }
}
