.house {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ff6060;
    h1 {
      font-weight: 600;
      font-size: 18px;
      width: 95%;
      margin-top: 20px;
      line-height: 25.67px;
    }

    p {
      font-weight: 600;
      font-size: 14px;
    }

  }
  &_infos {
    font-size: 16px;
    font-weight: 400;
    margin-left: 5%;
    button {
      color: white;
      background-color: #ff6060;
      border-radius: 8px;
      border: none;
      padding: 4px 15px 4px 15px;
      margin-right: 12px;
      margin-bottom: 5%;
      @media screen and (min-width: 550px) {
        margin-bottom: 0;
      }
    }
  }
  &_stars {
    display: flex;
    padding-right: 65px;
    gap: 6px;
    margin-left: 5%;
    img {
      width: 25px;
    }
  }

  &_autor {
    display: flex;
    align-items: center;
    gap: 10px;
    @media screen and (min-width: 550px) {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 2px;
    }
  }

  &_hostPic {
    border-radius: 50%;
    width: 50px;
  }
}
